<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='js/index.js')}}"></script>
	 <!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
	<div class="row">
		<div class="input-field col s6">
			<input id="input_string" type="text" class="validate">
			<label class="active" for="input_string">請輸入字串：</label>
			<button id="btn_sha" class="btn waves-effect waves-light" type="submit" name="action" onclick="sendString()">Submit</button>
			<div id="sha_value"></div>
		</div>
	</div>
</body>
</html>